/*global */
html {
  font-size: 18px;
  background-color: lightgrey;
}

/* Header */

.mainnav {
  height: 3rem;
  border-bottom: 1px solid black;
}

.mainnav a, .mainnav span {
  color: white;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
  background-color: #f8f9fa;
  padding-left: 1rem;
}

/* intro */

.intro {
  background-image: url("../images/banner3.jpg");
  background-repeat:round;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  height: 36rem;
}

.top {
  width: 65%;
  height: 10rem;
  background-color: #757575;
  border-radius: 10px;
}

.middle {
  width: 65%;
  height: 10rem;
  background-color: #a5a2a2;
  border-radius: 10px;
}

.bottom {
  width: 65%;
  height: 10rem;
  background-color: #d0d8d4;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#name {
  font-size: 3rem;
  color: white;
}

#professional {
  font-size: 3rem;
  color: white;
}

#slogen {
  font-size: 2rem;
  color: #757575;
  text-decoration: underline;
}

.intro p {
  padding-top: 1.5rem;
}

/* Skills */
.orange {
  background-color: orange;
}
.skills {
  background-color: orange;
  width: 100%;
}

.skills h1 {
  padding-top: 1.5rem;
}

.skillsblock , .skillsrow {
  padding-top: 1rem;
}
/* Portfolio */


.img-responsive {
  width: 100%;
  height: 15rem;
}

.project {
  padding: 0.5rem;
  background-color: lightgrey;
  border: 5px white solid;
  border-radius: 10px;
}

.project h3 {
  padding-top: 1rem;
}
